body{
	text-align:center;
	font-family: 'Merriweather', serif;
	margin:0
}
h1{
	font-family: 'Sacramento', cursive;
	#text-shadow: 4px 2px 4px black;
	font-size:5.625rem;
	margin:50px auto 0 auto;
	color:#66BFBF;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size:2.5rem;
	color:#66BFBF;
	padding-bottom:10px;
}
h3{
	color:#11999E;
	font-family: 'Montserrat', sans-serif;
}
a{
	color:#11999E;
}
.bottom-cloud{
	position:absolute;
}
.top-cloud{
	position:absolute;
	right:300px;
	top:50px;
	
}
.top-container{
	padding-top:100px;
	position:relative;
	background-color:#EAF6F6;
}
.middle-container{
	padding-top:30px;
}
.pro{
	text-decoration:underline;
}
.prog-img{
	width:25%;
	float:left;
	margin-right:30px;
}
.penc-img{
	width:25%;
	float:right;
	margin-left:30px;
}
.skill-row{
	width:50%;
	margin:100px auto 100px auto;
	position:relative;
	text-align:left;
	line-height:2;
}
p{
	color:#40514E;
	font-weight:50px;
}
.bottom-container
{
	background-color:#66BFBF;
	padding-top:50px;
	padding-bottom:50px;
	margin-top:100px;
}
.footer-link{
    text-decoration:none;
	font-weight:bold;
	padding-right:30px;
	font-size:15px;
	font-family:verdana, sans-serif;
	
}
.bttn{
	background-color:#11999E;
	padding:5px;
	border-radius:8px;
	width:150px;
	height:45px;
	display:inline-block;
	border:none;
}
.bttn:hover{
	box-shadow:0 12px 16px 0
	rgba(0,0,0,0.24),0 17px 50px 0
	rgba(0,0,0,0.10);
}
.btn{
	text-decoration:none;
	color:white;
	font-family: 'Montserrat', sans-serif;
	#font-weight:bold;
	font-size:18px;
}
hr{
	width:5%;
	border-style:none;
	color:grey;
	border-top-style:dotted;
	border-width:5px;
}
